@import '~bootstrap';
@import '~bootstrap-vue';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.page {
  &-wrapper {
    background-color: $dark-box-bg;
    color: $dark-box-font;
    padding: 3em $page-padding;
    @media only screen and (max-width: 710px) {
      padding: 1em;
    }

    .page-content {
      padding-bottom: 2em;
      h1 {
        margin-bottom: 1em;
        @media only screen and (max-width: 710px) {
          font-size: 2em;
        }
      }
    }
  }

  &-header {
    width: 100%;
    background-color: $dark-box-bg;
    color: $dark-box-font;
    padding: 0 $page-padding;
    @media only screen and (max-width: 500px) {
      font-size: 1.7em;
      padding: 0 0 0.5em 0;
    }

    h1 {
      font-weight: bold;
      text-align: center;
      @media only screen and (max-width: 500px) {
        padding: 0;
      }
    }
  }
}
