@import '~bootstrap';
@import '~bootstrap-vue';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

.wikifont {
  font-family: 'EB Garamond', serif;
}

.spinner {
  &-container {
    margin: 2em 0;
    text-align: center;
  }
  width: 10em;
  height: 10em;
}

.page {
  &-wrapper {
    background-color: $dark-box-bg;
    color: $dark-box-font;
    padding: 3em $page-padding;
    @media only screen and (max-width: 710px) {
      padding: 1em;
    }

    .page-content {
      padding-bottom: 2em;
      h1 {
        margin-bottom: 1em;
        @media only screen and (max-width: 710px) {
          font-size: 2em;
        }
      }
    }
  }

  &-header {
    width: 100%;
    background-color: $dark-box-bg;
    color: $dark-box-font;
    padding: 0 $page-padding;
    @media only screen and (max-width: 500px) {
      font-size: 1.7em;
      padding: 0 0 0.5em 0;
    }

    h1 {
      font-weight: bold;
      text-align: center;
      @media only screen and (max-width: 500px) {
        padding: 0;
      }
    }
  }
}
